<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/cupid-love-dating-website-html5-template/cupid-love/index-default.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Sep 2019 14:51:30 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Cupid Love - Dating HTML5 Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{title}}</title>

<!-- Favicon -->
<link rel="shortcut icon" href="/images/favicon.ico" />

<!-- bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

<!-- mega menu -->
<link href="/css/mega-menu/mega_menu.css" rel="stylesheet" type="text/css" />

<!-- font-awesome -->
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<!-- Flaticon -->
<link href="/css/flaticon.css" rel="stylesheet" type="text/css" />

<!-- Magnific popup -->
<link href="/css/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

<!-- owl-carousel -->
<link href="/css/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />

<!-- General style -->
<link href="/css/general.css" rel="stylesheet" type="text/css" />

<!-- main style -->
<link href="/css/style.css" rel="stylesheet" />

<!-- Style customizer -->
<link rel="stylesheet" type="text/css" href="/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="/css/skins/skin-default.css" data-style="styles" />
<link rel="stylesheet" type="text/css" href="/css/style-customizer.css" />
</head>

<body>
    
    {{> header}}
    {{> navbar}}
     
        {{{body}}}
    
    {{> footer}}
    <script src="http://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous">
    </script>
    <script src="/js/script.js"></script> 
</body>
</html>